<% url, method = @cat.new_record? ? [cats_path, :post] : [cat_path(@cat), :put] %>

<div style="padding: 10px; background-color: lightyellow; border: 2px solid yellow">
    <%= form_for @cat, :url => url, :method => method do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        
        <%= f.submit "Save Category" %>
     <% end %>
</div>
